{% extends 'base.html' %}

{% block content %}
    
    <div class="container mt-5">
       
        <div class="col-sm-5 mt-2 offset-3 shadow mx-auto p-0">
            <div class="alert alert-success">
                <h2 >Create Account</h2>
            </div>
            <div class="p-4">
                <form method="post">
                    {% csrf_token %}
                    
                    {{form.as_p}}
                    <hr>
                    <input  class="btn btn-success" type="submit" value="Create Account">
                    <!-- </div> -->
    
                    
                </form> 
            </div>
            
            
        </div>
    </div>
    
{% endblock content %}